<%- include("partials/header") %>

<section id="site">
  <!-- Title -->

  <section class="color-section" id="title">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="">shawnrowley.</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#me">Me.</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#experience">Experience.</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#skills">Skills.</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#projects">Projects.</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="docs/shawnrowley-resume.pdf">Resume.</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout.</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="row">
      <div class="col-lg">
        <!-- <h1 class="title-theme">Software Engineer</h1> -->
        <div id="testmonial-carousel" class="carousel slide" data-ride="false">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <h2 class="testimonial-text">code Java.</h2>
              <img class="testimonial-image" src="images/avatar-cover.png" alt="Java-code">
              <em>Java</em>
            </div>
            <div class="carousel-item">
              <h2 class="testimonial-text">code JavaScript.</h2>
              <img class="testimonial-image" src="images/avatar-cover.png" alt="JavaScript-code">
              <em>JavaScript</em>
            </div>
            <div class="carousel-item">
              <h2 class="testimonial-text">code C++.</h2>
              <img class="testimonial-image" src="images/avatar-cover.png" alt="C-code">
              <em>C++</em>
            </div>
            <div class="carousel-item">
              <h2 class="testimonial-text">code Life.</h2>
              <img class="testimonial-image" src="images/avatar-cover.png" alt="C-code">
              <em>Life</em>
            </div>
          </div>
          <a class="carousel-control-prev" href="#testmonial-carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#testmonial-carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- Me, Myself and I -->

  <section class="off-color-section" id="me">
    <h2 class="me-header">Me.</h2>
    <div class="row">
      <div class="feature-box col-lg-3">
        <i class="me-icon fas fa-laptop-code fa-4x"></i>
        <h3 class="feature-header">CodeHead.</h3>
        <p>Problem solving with variety.</p>
      </div>

      <div class="feature-box col-lg-3">
        <i class="me-icon fas fa-drafting-compass fa-4x"></i>
        <h3 class="feature-header">Architect.</h3>
        <p>Software Architecture and Design.</p>
      </div>

      <div class="feature-box col-lg-3">
        <i class="me-icon fas fa-cogs fa-4x"></i>
        <h3 class="feature-header">GearHead.</h3>
        <p>Part-time, Wanna be mechanic.</p>
      </div>

      <div class="feature-box col-lg-3">
        <i class="me-icon fas fa-user-astronaut fa-4x"></i>
        <h3 class="feature-header">SpaceMan.</h3>
        <p>Out there, "She packed my bags last night pre-flight..."</p>
      </div>
    </div>
  </section>

  <!-- Experience -->

  <section class="color-section" id="experience">
    <h2 class="experience-header">Experience.</h2>
    <div class="accordion" id="accordionResume">
      <% experiences.forEach(experience => { %>
        <div class="card">
          <div class="card-header" id="heading<%=experience.order%>">
            <h2 class="mb-0">
              <button class="experience-btn btn" type="button" data-toggle="collapse" data-target="#collapse<%=experience.order%>" aria-expanded="true" aria-controls="collapse<%=experience.order%>">
                <%=experience.title%>
              </button>
            </h2>
          </div>

          <div id="collapse<%=experience.order%>" class="collapse" aria-labelledby="heading<%=experience.order%>" data-parent="#accordionResume">
            <div class="card-body">
              <%=experience.overview%>
            </div>
          </div>
        </div>
      <% }); %>
    </div>
  </section>

  <!-- Skills -->

  <section class="off-color-section" id="skills">

   <!-- <div id="dialog" title="Skill Description">
     Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
   </div> -->

    <h2 class="skill-header">Skills.</h2>
    <div class="row">
      <div class="skill-box col-lg-2 col-md-4 col-sm-6">
        <i class="skill-icon fab fa-java fa-4x"></i>

      </div>

      <div class="skill-box col-lg-2 col-md-4 col-sm-6">
        <i class="skill-icon fab fa-js-square fa-4x"></i>
      </div>

      <div class="skill-box col-lg-2 col-md-4 col-sm-6">
       <img class"skill-img" src="images/icons8-c++-100.png"/>
       <div class="popup" style="display:none">description text here</div>
     </div>

      <div class="skill-box col-lg-2 col-md-4 col-sm-6">
        <i class="skill-icon fab fa-python fa-4x"></i>
      </div>

      <div class="skill-box col-lg-2 col-md-4 col-sm-6">
        <i class="skill-icon fab fa-aws fa-4x"></i>
      </div>

      <div class="skill-box col-lg-2 col-md-4 col-sm-6">
        <i class="skill-icon fab fa-node fa-4x"></i>
      </div>

      <div class="skill-box col-lg-2 col-md-4 col-sm-6">
       <img class"skill-img" src="images/icons8-jquery-100.png"/>
      </div>

      <div class="skill-box col-lg-2 col-md-4 col-sm-6">
       <img class"skill-img" src="images/icons8-golang-100.png"/>
      </div>

      <div class="skill-box col-lg-2 col-md-4 col-sm-6">
        <i class="skill-icon fab fa-php fa-4x"></i>
      </div>

      <div class="skill-box col-lg-2 col-md-4 col-sm-6">
        <i class="skill-icon fab fa-vuejs fa-4x"></i>
      </div>

      <div class="skill-box col-lg-2 col-md-4 col-sm-6">
        <i class="skill-icon fab fa-react fa-4x"></i>
      </div>

      <div class="skill-box col-lg-2 col-md-4 col-sm-6">
        <i class="skill-icon fab fa-angular fa-4x"></i>
      </div>

      <div class="skill-box col-lg-2 col-md-4 col-sm-6">
        <i class="skill-icon fab fa-html5 fa-4x"></i>
      </div>

      <div class="skill-box col-lg-2 col-md-4 col-sm-6">
        <i class="skill-icon fab fa-css3-alt fa-4x"></i>
      </div>

      <div class="skill-box col-lg-2 col-md-4 col-sm-6">
        <i class="skill-icon fab fa-bootstrap fa-4x"></i>
      </div>

      <div class="skill-box col-lg-2 col-md-4 col-sm-6">
        <i class="skill-icon fab fa-linux fa-4x"></i>
      </div>

      <div class="skill-box col-lg-2 col-md-4 col-sm-6">
        <i class="skill-icon fab fa-windows fa-4x"></i>
      </div>

      <div class="skill-box col-lg-2 col-md-4 col-sm-6">
       <img class"skill-img" src="images/icons8-heroku-100.png"/>
      </div>
    </div>
  </section>

  <!-- Projects -->

  <section class="color-section" id="projects">
    <h2 class="projects-header">Projects.</h2>

    <div class="album py-5 bg-light">
      <div class="album-container">

        <div class="row">
          <div class="col-md-3">
            <div class="card mb-3 shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c" />
                <text x="50%" y="50%" fill="#eceeef" dy=".3em"></text>
                <image href="images/shawnrowley-io.png" height="290" width="350" />
              </svg>
              <div class="card-body">
                <p class="card-text"><b>shawnrowley.com</b> WordPress PHP websites build, hosted, and maintained on my personal Amazon EC2 Instances.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button
                      type="button"
                      onclick="window.location.href='https://shawnrowley.com';"
                      class="btn btn-sm btn-outline-secondary">View</button>
                  </div>
                  <small class="text-muted">LAMP</small>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="card mb-3 shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c" />
                <text x="50%" y="50%" fill="#eceeef" dy=".3em"></text>
                <image href="images/bankleyburrow.png" height="275" width="340" />
              </svg>
              <div class="card-body">
                <p class="card-text"><b>BankleyBurrow.com</b> WordPress PHP websites build, hosted, and maintained on my personal Amazon EC2 Instances.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button
                      type="button"
                      onclick="window.location.href='https://bankleyburrow.com';"
                      class="btn btn-sm btn-outline-secondary">View</button>
                  </div>
                  <small class="text-muted">LAMP</small>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="card mb-3 shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#212529" />
                <text x="50%" y="50%" fill="#eceeef" dy=".3em"></text> "
                <image href="images/avatar-cover.png" height="300" width="335" />
              </svg>
              <div class="card-body">
                <p class="card-text"><b>shawnrowley.io</b> Personal Portofolio and ongoing personal development new concept and technology site.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button
                      type="button"
                      onclick="window.location.href='https://shawnrowleyio.herokuapp.com';"
                      class="btn btn-sm btn-outline-secondary">View</button>
                    <button
                      type="button"
                      onclick="window.location.href='https://github.com/shawnrowley/shawnrowleyio';"
                      class="btn btn-sm btn-outline-secondary">Git</button>
                  </div>
                  <small class="text-muted">Mongoose EJS Express NodeJs</small>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="card mb-3 shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c" />
                <text x="50%" y="50%" fill="#eceeef" dy=".3em"></text>
                <image href="images/gender-api.png" height="270" width="340" />
              </svg>
              <div class="card-body">
                <p class="card-text"><b>NameManager</b> Application that allows you to manage names leverages gender-api external web services</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button
                      type="button"
                      onclick="window.location.href='https://github.com/shawnrowley/namemanager';"
                      class="btn btn-sm btn-outline-secondary">Git</button>
                  </div>
                  <small class="text-muted">AngularJS, JavaEE, Golang, MonogoDB</small>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="card mb-3 shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c" />
                <text x="50%" y="50%" fill="#eceeef" dy=".3em"></text>
              </svg>
              <div class="card-body">
                <p class="card-text"><b>Indicate</b> Indicator analysis project <em>Coming Soon...</em></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button
                      type="button"
                      onclick="window.location.href='https://github.com/shawnrowley/indicate';"
                      class="btn btn-sm btn-outline-secondary">Git</button>
                  </div>
                  <small class="text-muted">MERN</small>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="card mb-3 shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c" />
                <text x="50%" y="50%" fill="#eceeef" dy=".3em">
                </text>
              </svg>
              <div class="card-body">
                <p class="card-text"><b>Entourage</b> Multimedia integration project   <em>Coming Soon...</em></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">

                  </div>
                  <small class="text-muted">MEAN</small>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </section>

  <!-- Contact -->

  <section class="off-color-section" id="contact">
    <h2 class="contact-header">Contact.</h2>

    <a class="contact-link" href="http://www.shawnrowley.com/"><i class="contact-icon fab fa-wordpress fa-2x"></i></a>
    <a class="contact-link" href="https://github.com/shawnrowley"><i class="contact-icon fab fa-github fa-2x"></i></a>
    <a class="contact-link" href="https://shawnrowley.atlassian.net"><i class="contact-icon fab fa-jira fa-2x"></i></a>
    <a class="contact-link" href="https://shawnrowley.atlassian.net/wiki/home"><i class="contact-icon fab fa-confluence fa-2x"></i></a>
    <a class="contact-link" href="mailto:shawn.a.rowley@gmail.com"><i class="contact-icon fas fa-envelope fa-2x"></i></a>

    <div class="footer">
      <p class="footer-hosted">Hosted by <b>Me.</b> via Heroku</p>
    </div>
  </section>

</section>

<%- include("partials/footer") %>
